<<<<<<< HEAD

.no-data {
    text-align: center;
    padding: 20px;
    color: #f00;
=======
.mapSearchBar{
    padding: 20px;
    .searchDropdown{
        margin-left: 200px;
    }
>>>>>>> f2020d401d817f394d0f579335b19f1b83b34fed
}