.navBarBg{
    background-color: #026cdf;
}
.navBarAdmin{
    color: #fff !important;
}
.chartWrapper{
    margin-top: 70px;
}
  .col {
    padding: 10px;
  }
  
  .App {
    background-image: linear-gradient(262deg, rgb(0, 45, 161), rgb(2, 108, 223) 55%, rgb(0, 45, 161));
    height: 60px;
    padding: 20px;
  }
  header svg{
    float: left;
  }
  .nav-items{
    margin-top: -10px;;;
  }
  .shareWrapper h1{
    color: #fff;
  }
  
  .nav-link{
    color: #fff;
  }.nav-link:hover{
    color: #fff;
  }
  .card{
    margin: 10px;
  }
  .carousel .thumbs-wrapper{
    display: none;
  }
  .elasticSearch{
    height: 70px;
      background-color: #f7f7f9;
      margin-top: 10px;
  }
  .navItems{
    margin-top: 20px;
    li a{
        color: #282c34;
      }
      li a:hover{
        color: #282c34;
      }
  }
  .shareWrapper{
    background-image: linear-gradient(262deg, rgb(0, 45, 161), rgb(2, 108, 223) 55%, rgb(0, 45, 161));
    padding: 30px;
  }
  .loginButton{
    margin-top: -10px;
      text-align: right;
      button{
        color: #f7f7f9;
      }
  }
  .card-img{
    width: auto;
  }
  .elasticSearch input{
    height: 40px;
      width: 50%;
      margin-top: 14px;
      position: absolute;
      left: 20%;
      padding: 10px;
  }
  .eAdNey {
    color: rgb(255, 255, 255);
    transition: color 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  }
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  .listOfitems{
    display: none;
  }
  .seachEvent{
    padding: 10px;
    margin-bottom: 20px;
  }
  .toastwrapper{
    max-width: 350px;
    overflow: hidden;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 1;
    padding: 15px;
    border-radius: 0.25rem;
    margin-right: 15px;
    margin-left: 15px;
    p{
      color: #333 !important;
      overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  padding-bottom: 10px;
      .eventLink{
        color: #026cdf;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: underline;
      }
      .peaopleare{
        font-size: 12px;;
      }
    }
    .eventName{
      border-bottom: 1px solid #ccc;
    }
    .talkingCount{
      font-size: 1.8em;
    }
    .toastHeader{
      font-size: 18px;
    }
  }